{% extends 'main/sample.html' %}
{% block content%}


    <!-- Добавить куда отправляется форма, сделать количество людей и комнат в одном (?) -->


    <form class="options-form" method="POST" role="form" action="{% url 'findpage' %}">
            {% csrf_token %}
        <div class="container-inline g-3 mt-5 align-items-center">

            {% for item in form %}

                 {{ item }}

            {% endfor %}
      <button type="submit" class="btn btn-primary">Пошук</button>
              </div>
        </div>


    </form>

{%endblock%}