{% load static %}
<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoBooking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">NoBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Помешкання</a></li>
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/about">Про нас</a></li>
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/tglink">Telegram bot</a></li>
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/api">API</a></li>
      </ul>
            {% if request.user.is_authenticated %}

         <ul class="navbar-nav margin-right mb-2 mb-lg-0">
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Вийти</a></li>
        </ul>
          {% else %}

        <ul class="navbar-nav margin-right mb-2 mb-lg-0">
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/register">Реєстрація</a></li>
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/user_login/">Авторизація</a></li>

        </ul>

          {% endif %}
    </div>
  </div>
</nav>
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div>{{ message }}</div>
    {% else %}
        <div>{{ message }}</div>
    {% endif %}
{% endfor%}
{% endif %}
{% block content %}
{% endblock%}
</body>
</html>